<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark" *ngIf="isLoggedIn">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <!-- <li><a class="nav-link" [routerLink]="[ '/customers' ]">Customers</a></li> -->
        <li><a class="nav-link" [routerLink]="[ '/products' ]">{{'HEADER.HOME' | translate}}</a></li>
        <li><a class="nav-link" [routerLink]="[ '/departments' ]">{{'HEADER.DEPARTMENTS' | translate}}</a></li>
        <li><a class="nav-link" [routerLink]="[ '/brands' ]">{{'HEADER.BRANDS' | translate}}</a></li>
        <li><a class="nav-link" [routerLink]="[ '/warehouses' ]">{{'HEADER.WAREHOUSES' | translate}}</a></li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <select class="selectpicker" data-width="fit" name="lang" id="lang" (change)="languageChange($event)">
          <option [value]="languages.EN" [selected]="isDefaultLang(languages.EN)">English</option>
          <option [value]="languages.ES" [selected]="isDefaultLang(languages.ES)">Español</option>
        </select>

        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-link" (click)="logOut()">LogOut</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
