<div class="container">
    <div class="row">
      <div class="col-xs-12 m-top-10">
        <div class="row justify-content-between">
          <div class="col-xs-4">
            <h1>{{'WAREHOUSE.TITLE' | translate}}</h1>
          </div>
          <div class="col-xs-4">
            <button class="btn btn-primary" (click)="openModal(false)"> {{'WAREHOUSE.BTN.CREATE' | translate}} </button>
          </div>
          <hr />
        </div>
      </div>
    </div>
  
    <div class="row justify-content-center m-top-10">
      <div class="col-12 col-md-10 col-lg-6">
        <form class="card card-sm">
          <div class="card-body row no-gutters align-items-center">
            <div class="col-auto">
              <i class="fas fa-search h4 text-body"></i>
            </div>
            <!--end of col-->
            <div class="col">
              <input class="form-control form-control-lg form-control-borderless" type="text" name="filter"
                placeholder="Search keywords" [(ngModel)]="filterBy" (keyup)="searchs()">
            </div>
            <!--end of col-->
            <div class="col-auto">
              <button class="btn btn-lg btn-success" type="submit"
                (click)="searchs()">{{'WAREHOUSE.BTN.SEARCH' | translate}}</button>
            </div>
            <!--end of col-->
          </div>
        </form>
      </div>
      <!--end of col-->
    </div>
  
    <div class="row m-top-20">
      <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="th-sm">{{'WAREHOUSE.THEAD.CODE' | translate}}</th>
            <th class="th-sm">{{'WAREHOUSE.THEAD.NAME' | translate}}</th>
            <th class="th-sm">{{'WAREHOUSE.THEAD.STATUS' | translate}}</th>
            <th class="th-sm">{{'WAREHOUSE.THEAD.ACTIONS' | translate}}</th>
          </tr>
        </thead>
        <tbody *ngIf="warehouseList">
          <tr *ngFor="let item of warehouseList">
            <td>{{item.code}}</td>
            <td>{{item.name}}</td>
            <td>
              <span *ngIf="item.status == 1">Activo</span>
              <span *ngIf="item.status == 0">Inactivo</span>
            </td>
            <td class="text-center w-10">
              <button type="button" class="btn btn-success" (click)="openModal(true, item)"><span
                  class="glyphicon glyphicon-edit"></span>{{'WAREHOUSE.BTN.EDIT' | translate}}</button>
              <button type="button" class="btn btn-danger" (click)="deleteWarehouse(item.id)"><span
                  class="glyphicon glyphicon-trash"></span>{{'WAREHOUSE.BTN.DELETE' | translate}}</button>
            </td>
          </tr>
        </tbody>
      </table>
      <emo-pagination [page]="pagination.page" [pageSize]="pagination.pageSize" [totalElements]="pagination.totalElements"
        (recordsPerPageChanged)="setRecordsPerPage( $event )" (pageChanged)="setPage( $event )"></emo-pagination>
    </div>
  </div>
  