<div class="container-fluid">
        <div class="row">
          <div class="col-12 text-center">
            <div class="float-left">
              <ngb-pagination
                [collectionSize]="totalRecords"
                [(page)]="page"
                [pageSize]="numberOfPageRecords"
                (pageChange)="emitPageChange()"
              ></ngb-pagination>
            </div>
            <div class="float-right d-flex" *ngIf="totalRecords != 0">
              <span class="pr-3 align-self-center">Results per page</span>
              <div class="float-right w-auto">
                <select
                  name="range"
                  id="range"
                  class="form-control large"
                  [(ngModel)]="numberOfPageRecords"
                  (change)="emitRecordsPerPageChange(pageSize)"
                  [disabled]="totalElements == 0"
                >
                  <option [value]="10" selected="true"> 10 </option>
                  <option [value]="20"> 20 </option>
                  <option [value]="40"> 40 </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      