<div class="modal-header">
        <h2 *ngIf="isEdit">Update Brand</h2>
        <h2 *ngIf="!isEdit">Create Brand</h2>
        <button type="button" class="close" aria-label="Close" (click)="dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <div class="col-12">
              <label for="code">Code</label>
              <input
                class="form-control"
                type="text"
                name="code"
                formControlName="code"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <label for="desc">Description</label>
              <input
                class="form-control"
                type="text"
                name="desc"
                formControlName="desc"
              />
            </div>
          </div>
          <button class="btn btn-primary" type="submit" *ngIf="isEdit"> Update </button>
          <button class="btn btn-primary" type="submit" *ngIf="!isEdit"> Create </button>
        </form>
      </div>
