<div class="container">
  <div class="logo">FUTBOLEROS F.C.</div>
  <div class="login-item">
    <form class="form form-login" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="form-field">
        <label class="email" for="login-username"><span class="hidden">Email</span></label>
        <input id="login-email" name="email" type="text" class="form-input"
          [class.is-invalid]="email.errors?.required || email.errors?.pattern" ngModel placeholder="Email" required
          [pattern]="emailPattern" #email="ngModel" />
        <div class="invalid-feedback" *ngIf="email.errors?.required || email.errors?.pattern">
          Email es invalido.
        </div>
      </div>

      <div class="form-field">
        <label class="lock" for="login-password"><span class="hidden">Password</span></label>
        <input id="login-password" name="password" type="password" class="form-input" ngModel placeholder="Password" required />
      </div>

      <div class="form-field">
        <input type="submit" [disabled]="loginForm.invalid" value="Log in">
         <a type="button" class="btn btn-link" [routerLink]="'/sign-up'">Sing Up</a>
        <!-- <input type="submit" [disabled]="loginForm.invalid" (click)="goToSingUp()" value="Sign Up"> -->
      </div>
    </form>
  </div>
</div>
