<div class="modal-header">
    <h2 *ngIf="isEdit">Update Warehouse</h2>
    <h2 *ngIf="!isEdit">Create Warehouse</h2>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <div class="col-12">
          <label for="code">Code</label>
          <input
            class="form-control"
            type="text"
            name="code"
            formControlName="code"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <label for="name">Name</label>
          <input
            class="form-control"
            type="text"
            name="name"
            formControlName="name"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <label for="phone1">Phone 1</label>
          <input
            class="form-control"
            type="text"
            name="phone1"
            formControlName="phone1"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <label for="phone2">Phone 2</label>
          <input
            class="form-control"
            type="text"
            name="phone2"
            formControlName="phone2"
          />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <label for="address">Address</label>
          <input
            class="form-control"
            type="text"
            name="address"
            formControlName="address"
          />
        </div>
      </div>
      <button class="btn btn-primary" type="submit" *ngIf="isEdit"> Update </button>
      <button class="btn btn-primary" type="submit" *ngIf="!isEdit"> Create </button>
    </form>
  </div>
