<div class="row">
  <div class="col-12">
    <h1>Customer List</h1>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button class="btn btn-primary" (click)="createBrand(false)"> Create Customer </button>
  </div>
</div>
<div class="row m-top-20">
  <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Code</th>
        <th class="th-sm">Description</th>
        <th class="th-sm">Status</th>
        <th class="th-sm">Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="brandList">
      <tr *ngFor="let item of customersList">
        <td>{{item.code}}</td>
        <td>{{item.desc}}</td>
        <td>
          <span *ngIf="item.status == 1">Activo</span>
          <span *ngIf="item.status == 0">Inactivo</span>
        </td>
        <td class="text-center w-10">
          <button type="button" class="btn btn-success" (click)="createBrand(true)"><span
              class="glyphicon glyphicon-edit"></span>Edit</button>
          <button type="button" class="btn btn-danger" (click)="deleteBrand(item.id)"><span
              class="glyphicon glyphicon-trash"></span>Delete</button>
        </td>
      </tr>

    </tbody>

  </table>
</div>